// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Lato:400,300,700|Raleway:400,100,300,700,500|Catamaran:200,400,600&display=swap");

@font-face {
    font-family: 'Komika Hand';
    src: font-url('komika_hand-webfont.eot');
    src: font-url('komika_hand-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('fonts/Komika_Hand-webfont.woff') format('woff'),
         font-url('fonts/Komika_Hand.ttf') format('truetype'),
         font-url('komika_hand-webfont.woff2') format('woff2'),
         font-url('komika_hand-webfont.svg#komika_handregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
$my-font: "Komika Hand";

// Define fonts for body and headers
$body-font: "Catamaran", "Helvetica", "sans-serif";
$headers-font: $my-font, "Raleway", "Helvetica", "sans-serif";

