$background-home: "https://images.unsplash.com/photo-1506019162706-2459e35cc663";
$body-bg:         $light-gray;
$red-button:      $red;
$yellow-button:   $yellow;
$blue-button:     $blue;
$lair-info-color: #FFFAF2;
$card-product:    white;
$border:          black;
$hover-color:     black;
$navbar-font-color: black;
$navbar-background: white;
$nav-border: $blue;
