body { color: white !important; }
$background-home: "https://images.unsplash.com/photo-1506019162706-2459e35cc663";
$body-bg:         #171d1c;
$red-button:      $red;
$yellow-button:   #19C13E;
$blue-button:     #19C13E;
$lair-info-color: #6003AA;
$card-product:    #6003AA;
$border:          #19C13E;
$hover-color:     white;
$navbar-font-color: white;
$navbar-background: black;
$nav-border: $card-product;

.link-to-text-color {
  color: white;
}
