body { color: white !important; }
$body-bg:             #171d1c;
$red-button:          $red;
$yellow-button:       #19C13E;
$blue-button:         #19C13E;
$lair-info-color:     #6003AA;
$card-product:        #6003AA;
$border:              #19C13E;
$hover-color:         white;
$navbar-font-color:   white;
$navbar-background:   black;
$nav-border:          $card-product;
$avatar-border-color: #19C13E;

.link-to-text-color {
  color: white;
}
