<div class="jumbotron">
  <h1 class="display-4">Book</h1>
  <%= simple_form_for [@lair, @booking] do |f| %>
    <%= f.input :start_date, input_html: { class: 'dropdown' } %>
    <%= f.input :end_date, input_html: { class: 'dropdown' } %>
    <div class="lead" id="counter" class="" data-count="0">You haven't picked your dates yet!</div>
    <%= f.submit 'Choose Your Dates', class: 'btn btn-primary', id: 'paybutton' %>
  <% end %>
</div>
