<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/marvel/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/marvel/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.twitter.com/marvel/" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Lairbnb has been built by some of the best henchmen in the world <i class="fas fa-bat"></i> in Gotham City
  </div>
</div>
