.card-product {
  overflow: hidden;
  height: 120px;
  background: $card-product;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border: 3px solid $border;
  transition: 0.5s;
  &:hover {
    transform: scale(1.02);
  }
  margin-bottom: 24px;
  img {
    width: 150px!important;
  }
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}


.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;

}

.card-product .card-product-infos {
  padding: 16px;
}

.lair-card {
  transition: 0.5s;
  &:not(.lair-card-disabled):hover {
    transform: scale(1.02);
  }
  .lair-card-button {
    position: absolute;
    top: 28%;
    left: 28%;
    z-index: -1
  }
}

.lair-card-disabled {
  opacity: 0.8;
  .lair-image, .card-description {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
  }
  .lair-card-button {
    z-index: 1;
    position: absolute;
    top: 28%;
    left: 28%;
    transform: translate(-50%, -50%);
    transform: skewX(-10deg);
    font-weight: bold;
    font-size: 24px;
  }
  .yellow-button {
    background-color: $yellow;
  }
}

.lair-card-owner {
  position: relative;
  transition: 0.5s;
  &:not(.lair-card-disabled):hover {
    transform: scale(1.02);
  }
  .lair-card-button {
    z-index: 1;
    position: absolute;
    top: 28%;
    left: 30%;
    transform: translate(-50%, -50%);
    transform: skewX(-10deg);
    font-weight: bold;
    font-size: 24px;
  }
}

.lair-image {
  width: 500px;
  height: 300px;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
  }
}

.lair-content {
  width: 500px;
  height: 200px;
}
