<div class="banner">
  <div class="container">
    <h1>Look over there! <br>It's your next lair!</h1>
    <form action="search">
      <input type="text" name="search" class="form-control banner-search" placeholder="Search for your next lair...">
    </form>
    <%= link_to "#" do %>
      <button class="btn button blue-button">Book</button>
      <button class="btn button red-button">Cancel</button>
    <% end %>


    <div class="lair-card">
    <div class="lair-image">
      <img src="https://images.unsplash.com/photo-1513384312027-9fa69a360337" alt="superman">
    </div>
    <div class="d-flex justify-content-stretch lair-content">
      <div class="lair-info flex-grow-1">
        <h4 class="lair-title">Fortress of Solitude</h4>
        <p class="lair-bio">A delightful crisp home, in a secluded area in the Arctic Circle</p>
      </div>
      <div class="lair-price flex-grow-1 text-center">
        <h4 class="lair-cost">$200</h4>
        <h4>per night</h4>
        <button class="btn button blue-button">Book</button>
      </div>
    </div>

  </div>
  </div>



</div>

