<div class="banner">
  <div class="container">
    <h1>Look over there! <br>It’s your next lair!</h1>
    <form action="search">
      <input type="text" name="search" class="form-control banner-search" placeholder="Search for your next lair...">
    </form>
  </div>
</div>

