<h1>Lairs#index</h1>

<p><%= link_to "New Lair", new_lair_path %></p>
<hr>
<% @lairs.each do |lair| %>
  <div>
    <h3><%= link_to lair.title, lair_path(lair) %></h3>
  </div>
<% end %>

<%= link_to "Go back", root_path %>
