.banner {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url("https://res.cloudinary.com/rahaluha/image/upload/v1587061238/withname_wzqq3w.png");
  background-size: 100%;
  background-position: top center;
  position: relative;
}

.banner h1 {
  color: white;
  font-size: 72px;
  line-height: 1.4;
}

.banner-search {
  height: 50px;
  font-family: $my-font;
}
