.banner {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url("withname.png");
  background-size: 100%;
  background-position: top center;
  // padding: 200px; # not sure what this did but seems to work fine without as i've added in a content-wrap
  position: relative;
  max-height: 960px;
}

.banner h1 {
  color: white;
  font-size: 72px;
  line-height: 1.4;
}

// .banner form {
//   width: 60%;
// }
.banner-search {
  height: 50px;
  font-family: $my-font;
}
