.character-card {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  margin-right: 24px;
}

.icon {
  img {
    border: 3px solid black;
  }
}

.container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.character-lair {
  display: flex;
}

.lairs {
  padding: 20px;
  h3 {
    margin-bottom: 30px;
  }
  ul {
    padding: 0;
  }
}

.bookings {
  width: 100%;
  margin-bottom: 24px;
  padding: 20px;
}
.keine-decoration {
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
