.box {
  width: 50%;
  margin: 0 auto;
  padding: 16px;
}

.content-wrap {
  margin: 24px auto;
  .header {
    text-align: center;
  }
}

.form-control {
  border: 3px solid black;
  margin: 0 auto
}

.btn {
  padding: 0;
  margin-bottom: 20px;
}

a, a:hover {
  text-decoration: none;
  color: $hover-color;
}

.form {
  transform: skewX(-10deg);
  border: 3px solid black;
  color: black;
  background-color: white;
  font-family: $my-font;
  padding: 10px 15px;
  margin: 5px;
}

.form-50 {
  width: 50%;
  transform: skewX(-10deg);
  border: 3px solid black;
  color: black;
  background-color: white;
  font-family: $my-font;
  padding: 10px 15px;
  margin: 5px;
}
