.box {
  width: 50%;
  margin: 0 auto;
  padding: 16px;
}

.content-wrap {
  margin: 24px auto;
  .header {
    text-align: center;
  }
}

.form-control {
  border: 3px solid black;
  margin: 0 auto
}

.btn {
  padding: 0;
  margin-bottom: 20px;
}

a, a:hover {
  text-decoration: none;
  color: black;
}
