.navbar-lewagon {
  z-index: 100;
  justify-content: space-between;
  background: white;
  border-bottom: 5px solid $blue;
  color: white;
  position: sticky;
  top: 0px;
  width: 100%;
  box-shadow: 0 2px 15px rgba(0,0,0,0.2)
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin-right: 10px
}

// .navbar-brand {
//   display: flex;
//   align-items: center
//   justify-content
// }

.wordmark {
  font-size: 24px;
  font-family: $my-font;
  margin: 0;
  color: $blue;
}
